/*SECCION DETALLE*/
.contenedor-detalle{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    background-color: #ffffff;
    display: flex;
    gap: 60px;
    flex-direction: row;
    margin: 20px auto;
    max-width: 1000px; /* Limita el ancho máximo del contenedor para evitar que se extienda demasiado en pantallas grandes */
    width: 100%
}
.columna-izq-detalle{
    flex: 1;  /* ocupa 1 parte del espacio */
}
.columna-der-detalle{
    flex: 2;  /* ocupa 2 partes del espacio */
}
/*IMAGEN PRINCIPAL*/
.columna-izq-detalle img{
    width: 100%; /*Ocupa todo el ancho del contenedor*/
    height: 500px;
    object-fit: contain; /*Ajusta la imagen para que se mantenga su proporción sin recortarla*/

}
/*GALERIA DE IMAGENES*/
.galeria{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.galeria img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

/*DETALLE DE INFORMACION*/
.columna-der-detalle h2{
    font-size: 1.5rem;
    color: #0772ba;
    font-weight: 800;
    margin-bottom: 10px;
}
.columna-der-detalle h3{
    font-size: 1rem;
    color: #0e3353;
    font-weight: 600;
    margin-bottom: 20px;
}
.columna-der-detalle p{
    font-size: 1rem;
    color: #0f0f0f;
    margin-bottom: 20px;
}
.columna-der-detalle span{
    font-size: 0.8rem;
    color: #666666;
    font-weight: 200;
    margin-bottom: 20px;
}

/*SECCION TABLA DE ESPECIFICACIONES*/
.tabla-detalle{
    width: 100%;
    margin-top: 30px;
    font-size: 0.7rem;
}
.tabla-detalle table{
    width: 100%;
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    text-align: left;
}
.tabla-detalle tr{
    padding: 10px;
}
.tabla-detalle td{
    border-top: 1px solid #ddd; /* Agrega una línea debajo de cada fila */
    vertical-align: top;
    color: #666666;
    padding: 10px 10px;
}
/* primer th dentro de un tr */
.tabla-detalle td:first-child {
    font-size: 0.9rem;
    font-weight: 600;
    color: #0e3353;
}
.tabla-detalle ul{
    margin: 0;
    padding-left: 0;
    margin-bottom: 5px;
}


/*SECCION PRODUCTOS RELACIONADOS*/
.contenedor-relacionados{
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 40px;
    background-color: #f0f8ff;
    display: grid;
    grid-template-columns: repeat(3, 200px); /* crea 3 columnas de 220px */
    justify-content: center; /* centra las columnas del grid horizontalmente */
    gap: 50px; /*Espacio entre los elementos del grid*/
}
.contenedor-relacionados a{
    text-decoration: none;
}
.contenedor-relacionados h3 {
    grid-column: 1 / -1; /* ocupa toda la fila */
    text-align: center;
}

.tarjeta{
    height: 330px;
}

.tarjeta-info{
    display: flex;
    flex-direction: column;
    flex: 1; /* para que ocupe el espacio restante del card */
}
.estrellas{
    color: #0772ba;
    font-size: 1rem;
}   
