* {
    box-sizing: border-box;
    margin: 0;        /* ← elimina márgenes por defecto de todos los elementos */
    padding: 0;       /* ← elimina padding por defecto de todos los elementos */
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /* Elimina el margen predeterminado del navegador */
}


h1{
    font-size: 2.0rem;
    color: #0772ba;
    font-weight: 900;
    margin-bottom: 10px;
}

h2{
    font-size: 1.5rem;
    color: #0772ba;
    font-weight: 800;
    margin-bottom: 10px;
}

h3{
    font-size: 1.1rem;
    color: #0e3353;
    font-weight: 600;
    margin-bottom: 10px;
}

h4{
    font-size: 1.0rem;
    color: #0e3353;
    font-weight: 600;
    margin-bottom: 10px;
}

h5{
    font-size: 0.9rem;
    color: #0e3353;
    font-weight: 300;
    margin-bottom: 10px;
}

p{

    font-size: 0.9rem;
    color: #0f0f0f;
    margin-bottom: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 100px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #0e3353; /* azul oscuro */
    font-weight: 600;
    font-size: 0.9rem;
}

.nav-links a.active {
    color: #0772ba; /*  azul principal */
}
/* Footer */
footer {
    background-color: #f0f0f0;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}
/* Footer */
footer {
    background-color: #f0f0f0;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}