h1{

    margin: 15px;

}

h2{
    margin: 20px;

}

a{  


    text-decoration: none;
}

a:visited{

    color: black;
    
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px); 
    gap: 5px;
    padding: 10px;
    justify-content: left; 
}

