
h1, h2, p{
   
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

main > p {
    margin-bottom: 30px;
    padding: 0 20px;
    line-height: 1.6;
}



a{  


    text-decoration: none;
}

a:visited{

    color: black;
    
}
section {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 220px); 
    gap: 20px; 
    padding: 20px;
    justify-content: center; 
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px; 
}

.tarjeta {
  height: 100%;

}


.tarjeta h4:last-child {
    margin-top: auto; 
    
    padding-top: 10px;
    font-weight: bold;
    color: #005691; 
}

.tarjeta:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


.nav-links li:hover ul{
display:block;

}

.nav-links ul{ 
    list-style: none;
    display: none;
    position: absolute;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255)
    margin

}

.nav-links ul li{
    margin-top: 10px;
    padding: 5px;
}
