main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 5%;
    text-align: center;
}

.sobre-cerave {
    margin: 5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.sobre-cerave div {
    flex: 1;
}

/*selecciono el segundo div dentro de sobre-cerave*/
.sobre-cerave div:nth-child(2) {
    margin-left: 40px;
}

.sobre-cerave li {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 10px;    
}

.sobre-cerave span {
    font-weight: 600;
    color: #0e3353;
}
/* En pantallas de 767px o menos (mobile) */
@media (max-width: 767px) {
    .sobre-cerave {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "imagen"
            "lista";
        gap: 10px;
    }
    .sobre-cerave .imagen { grid-area: imagen; }
    .sobre-cerave .lista { 
        grid-area: lista; 
        justify-content: center;
        text-align: center;
    }
}


.video {
    position: relative;
    margin: 5%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tips {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5%;
}

.tips p {
    font-size: 1rem;
    text-align: justify;
}
