@use "variable" as v;

@mixin body {
    font-family: v.$font-family-base;
    margin: v.$body-margin;
}

@mixin h1 {
    font-size: v.$h1-font-size;
    color: v.$h1-color;
    font-weight: v.$h1-font-weight;
    margin-bottom: v.$h1-margin-bottom;
}

@mixin h2 {
    font-size: v.$h2-font-size;
    color: v.$h2-color;
    font-weight: v.$h2-font-weight;
    margin-bottom: v.$h2-margin-bottom;
}

@mixin h3 {
    font-size: v.$h3-font-size;
    color: v.$h3-color;
    font-weight: v.$h3-font-weight;
    margin-bottom: v.$h3-margin-bottom;
}

@mixin h4 {
    font-size: v.$h4-font-size;
    color: v.$h4-color;
    font-weight: v.$h4-font-weight;
    margin-bottom: v.$h4-margin-bottom;
}

@mixin h5 {
    font-size: v.$h5-font-size;
    color: v.$h5-color;
    font-weight: v.$h5-font-weight;
    margin-bottom: v.$h5-margin-bottom;
}

@mixin p {
    font-size: v.$p-font-size;
    color: v.$p-color;
    margin-bottom: v.$p-margin-bottom;
}