.navbar {
    background-color: #ffffff;
    padding: 15px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: #0e3353;
    cursor: pointer;
    padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #0e3353;
    font-weight: 600;
    font-size: 0.9rem;
}

.nav-links a.active {
    color: #0772ba;
}

.nav-links ul {
    list-style: none;
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px 0;
}

.nav-links ul li {
    margin: 0;
    padding: 8px 15px;
}

.nav-links li {
    position: relative;
}

.nav-links li:hover ul {
    display: block;
}

/*NAVBAR RESPONSIVE*/
/* Desktop: menú lineal y alineado a la derecha */
@media (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .nav-links ul {
        top: 100%;
        left: 0;
    }
}

/* Mobile: menú desplegable */
@media (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .hamburger {
        display: block;
    }

    .menu-toggle:checked~.nav-links {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 50%;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0 4px 6px #0000001a;
        z-index: 1000;
        text-align: right;
    }

    .nav-links li {
        border-bottom: 1px solid #eee;
    }

    .nav-links a {
        display: block;
        padding: 15px 20px;
    }

    .nav-links ul {
        position: static;
        box-shadow: none;
        background-color: #f5f5f5;
    }

    .nav-links ul li {
        border-bottom: none;
    }

    .nav-links ul li a {
        padding-left: 40px;
    }
}