@use "variable" as v;

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: v.$color-secondary;
    cursor: pointer;
    padding: 10px;
}

/* NAVBAR RESPONSIVE */
/* Desktop: menú lineal y alineado a la derecha */
@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .menu-toggle {
        display: none;
    }
}

/* Mobile: menú desplegable */
@media (max-width: 767px) {

    .hamburger {
        display: block;
    }

    .menu-toggle:checked~.nav-links {
        display: flex;
    }
}